table tr:nth-child(odd) {
     background-color:#eee; 
     margin:15%;
    }
table tr:nth-child(even) {
     background-color:#fff;
     margin:15%;
}
body{
    background-color:white;
    margin:auto;
}
thead tr td{
    background-color:rgb(125, 170, 230);
    padding-left:0;
    margin:auto;
}
td{
    padding:auto;
}
body{
    margin-top:5%;
    background-color: #343a40;
}